* {
    box-sizing: border-box;
  }
  
  html, body,
  ul, ol, li,
  h1, h2, h3, h4, h5, h6, p, div {
    margin: 0;
    padding: 0;
}

.price{
    /* background-color: #42C2FF; */
    background-image: url(1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: calibri;
}

.judul{
    text-align: center;
}

.title{
    margin-top: 50px;
    display: inline-block;
    padding: 5px 20px; 
    color: #ff9600;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

hr{
    background-color: white;
    color: transparent;
    border: 0.2px solid transparent;
    width: 100px;
    margin-bottom: 30px;
}

.price h1{
    color: white;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.price span{
    color: #ff9600;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 20px 100px;
    text-align: center;
}

.card-content{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.terbaru{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

.terbaru p{
    color: white;
}

/* .coret{
    text-decoration: line-through;
    
} */

.diskon{
    background: linear-gradient(-45deg, #cdeef2, #e8f7f9, #f39601, #646464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.card-content h2{
    font-size: 35px;
}

.card-content p{
    margin: 30px;
}

.card-content span{
    font-size: 10px;
    color: black;
}

.card-content button{
    margin-bottom: 30px;
    background-color: #42C2FF;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 480px){
    .card{
        display: grid;
        grid-template-columns:1fr;
    }

}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
    .card{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
}