* {
    box-sizing: border-box;
  }

.section-3-wrapper {
 
 background-color: rgb(83, 211, 243);
  padding-top: 2px;
  padding-bottom: 2px;
}

.judul-section-3 {
  display: flex;
  margin-bottom: 60px;
  margin-top: 40px;
}

.judul-section-3 h2 {
  flex: auto;
  text-align: center;
}

.items-section-3 {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 80px;
  margin: 0px 200px;
}

.item {
  width: 33%;
  padding: 30px;
}

.item img {
  width: 100px;
  height: 100px;
}

.link-section-3 a {
  text-decoration: none;
  background-color: black;
  border: 2px solid black;
  border-radius: 15px;
  padding: 12px;
  color: whitesmoke;
}

.link-section-3 {
  margin-top: 130px;
}

@media (max-width: 1000px) {
  .items-section-3 {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 100%;
  }
}

@media (max-width: 678px) {
  .items-section-3 {
    display: flex;
    flex-direction: column;
  }

  .item {
    width: 80%;
    margin: 0 auto;
  }
}

li {
  list-style: none;
}

.header {
  background-color: #ced6e0;
  color: #2f3542;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.top-wrapper {
	padding: 90px 0 100px 0;
	background-image: url(img/website.svg);
	background-repeat: no-repeat;
	background-size: right;
	color: black;
	text-align: right;
	padding-right: 75px;
}

.top-wrapper h1 {
	opacity: 0.7;
	font-size: 65px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

.top-wrapper p {
	opacity: 0.9;
	margin-bottom: 3px;
}

.btn-wrapper {
	padding: 95px;
	margin: 20px 0;
	text-align: center-right;
	font-size: 15px;
}

.btn-wrapper p {
	margin: 10px 0;
	padding-right: 55px;
}

.signup {
	background-color: #239b76;
}

.google {
	background-color: #3b5998;
}

.btn {
	padding: 12px;
	color: black;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
}

.btn:hover {
	opacity: 1;
}

.fa {
	margin-right: 5px;
}
.header-right {
	float: right;
	background-color: rgba(255, 255, 255, 0.5);
	transition: all 0.5s;
}

.header-right:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
	line-height: 65px;
	padding: 0 25px;
	color: black
	display: block;
}

.partner {
    background: #f4f4f4;
    padding: 2rem 0;
    text-align: center;
}
.textpartner {
    text-align: center;
    font-size: 1rem;
    margin: 0 0 1.5rem 0;
    font-weight: 200;
    opacity: .5;
    font-family: var(--Roboto);
    letter-spacing: 2px;
}
.logo-partner {
    display: inline-block;
    margin-right: 3.5rem;
}
.logo-partner a {
    display: inline-block;
    margin-right: 3.5rem;
}

.logo-partner a:last-child {
    margin: 0;
}

.logo-partner img {
    height: 34px;
}
@media (max-width: 600px) {
    .partner a{
        margin: 10px 15px;
    }
    .logo-partner img {
        height: 30px;
    }
    .textpartner {
        font-weight: 200;
        font-size: 1rem;
        padding: 1rem 0 1rem 0;
        opacity: 0.5;
    }
}

body {
	font-family: "candara";
	margin: 0;
}

.less-wrapper {
	height: 500px; 
	padding: bottom;
	background-image: url(img/23.jpg);
	background-size: 100%;
	text-align: center;
	flex-wrap: wrap;
}

.container {
	width: 100%;
	margin: 0 auto;
}

.heading {
	padding-top: 50px;
	padding-bottom: 20px;
	text-align: center;
}

.heading h1 {
	font-weight: normal;
	opacity: 0.6;
}

.our-team {
	padding: 0 15px;
	text-align: center;
	position: relative;
	float: left;
	width: 20%;
	flex-wrap: wrap;
}

.our-team .team-icon {
	display: inline-block;
	width: 130px;
	height: 130px;
	margin-bottom: 50px;
	position: relative;
}

.our-team .team-contents {
	margin-bottom: 10px;
}

.our-team .title{
	font-size: 17px;
	font-weight: 900;
	color: black;
	letter-spacing: 1px;
	margin-bottom: 5px;
	opacity: 0.7;
}
 
.our-team .post {
	display: block;
	font-size: 15px;
	color: black;
}

.our-team .team-icon img {
	width: 105%;
	height: 150%;
	border-radius: 3%;
}

.wrapper {
	height: 500px;
	padding: 0 10px 0 100px;
	margin-left: 40px;
	background-color: #fff;
	text-align: center;
	flex-wrap: wrap;
}

.lesson {
	float: left;
	width: 30%;
	padding-right: 30px;
	text-align: center;
	flex-wrap: wrap;
}

.price{
    /* background-color: #42C2FF; */
    background-image: url(img/1.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: calibri;
}

.judul{
    text-align: center;
}

.price .title{
    margin-top: 50px;
    display: inline-block;
    padding: 5px 20px; 
    color: #ff9600;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

hr{
    background-color: white;
    color: transparent;
    border: 0.2px solid transparent;
    width: 100px;
    margin-bottom: 30px;
}

.price h1{
    color: white;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.price span{
    color: #ff9600;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    grid-row-gap: 50px;
    margin: 20px 100px;
    text-align: center;
}

.card-content{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.terbaru{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 200% 200%;
	animation: gradient 15s ease infinite;
}

.terbaru p{
    color: white;
}

/* .coret{
    text-decoration: line-through;
    
} */

.diskon{
    background: linear-gradient(-45deg, #cdeef2, #e8f7f9, #f39601, #646464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

.card-content h2{
    font-size: 35px;
}

.card-content p{
    margin: 30px;
}

.card-content span{
    font-size: 10px;
    color: black;
}

.card-content button{
    margin-bottom: 30px;
    background-color: #42C2FF;
    padding: 5px 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 480px){
    .card{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 480px) and ( max-width: 780px ){
    .card{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }

}

@media (max-width: 670px) {
	.our-team {
		width: 50%;
	}
	.less-wrapper {
    background-size: 50%;
    }
}

@media (max-width: 480px) {
	.our-team {
		width: 100%;
	}
    .less-wrapper {
    	background-size: 100%;
    }
}

.container-footer {
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none ;
}
.footer {
    background-color: #0a007e;
    padding: 70px 0;
    margin-top: 20px;
    margin-bottom: 0px;
}
.footer-col {
    width: 25%;
    padding: 0 15px;
    text-align: left;
}
.footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #fff;
    padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
 
       margin-bottom: 30px;
    }
}
